# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.vscode-server/
.sudo_as_admin_successful
.profile
.motd_shown
.lesshst
.gitconfig
.bashrc
.bash_logout
.bash_history
.config/wslu/baseexec
.config/wslu/oemcp
.config/wslu/triggered_time
.landscape/sysinfo.log
.cache/typescript/4.8/package.json
.cache/update-manager-core/meta-release-lts
.cache/vscode-cpptools/ipch/6c31149c762dc2fd/HelloWorld.ipch
.cache/vscode-cpptools/ipch/6c31149c762dc2fd/mmap_address.bin
.cache/vscode-cpptools/ipch/b6be9d30a0c107f3/HelloWorld.ipch
.cache/vscode-cpptools/ipch/b6be9d30a0c107f3/mmap_address.bin
.cache/vscode-cpptools/ipch/fcac819f04fdb38c/DebugLib.ipch
.cache/vscode-cpptools/ipch/fcac819f04fdb38c/mmap_address.bin
